*{font-family: 'Major Mono Display', monospace; font-size: 20px; background-color: black; color: white; text-align: center;}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.gridItem {
    width: 300px;
    height: 300px;
    background-color: grey;
    color: white;
    margin: 10px;
    padding: 10px;
    transition: 200ms;
    border: none;
    border-radius: 200px;
} .gridItem:hover {   animation-name: color; animation-duration: 1.5s; animation-iteration-count: infinite; }

@keyframes color {
    0% {background-color: rgb(119, 158, 152);}
    50% {background-color: rgb(132, 196, 186);}
    100% {background-color: rgb(119, 158, 152);}
}

#moreButton {
    background-color: #333;
    border: none;
    color: grey;
    width: 80%;
    height: 100px;
    margin: 100px auto;
}

.modal {
    position: fixed;
    top: 20%;
    left: 30%;
    padding: 10px;
    background-color: grey;
    display: grid;
    grid-template-columns: auto auto;
}

p {
    padding: 10px;
    margin: 10px;
}

h2 {
    padding: 10px;
    margin: 10px;
}

#fullWidthButton {
    grid-column: 1 / span 2;
    background-color: #222;
    width: 95%;
    padding: 20px;
    margin: 10px auto;
}

.hidden {
    display: none;
}

.transparent {
    opacity: 20%;
}